build:
  stage: build
  image:
    name: mcr.microsoft.com/dotnet/sdk:8.0
    entrypoint: [""]
  script:
    - dotnet restore
    - dotnet build

tests:
  stage: test
  image:
    name: mcr.microsoft.com/dotnet/sdk:8.0
    entrypoint: [""]
  script:
    - dotnet test

pages:
  stage: deploy
  image: alpine
  script:
    - apk update
    - apk add doxygen
    - apk add ttf-freefont graphviz
    - apk add curl openjdk8-jre fontconfig
    - curl -o plantuml.jar -L "http://github.com/plantuml/plantuml/releases/latest/download/plantuml.jar"
    - java -Djava.awt.headless=true -jar plantuml.jar -o "../docs/images/" uml/class.pu -svg -charset UTF-8
    - java -Djava.awt.headless=true -jar plantuml.jar -o "../docs/images/" uml/component.pu -svg -charset UTF-8
    - java -Djava.awt.headless=true -jar plantuml.jar -o "../docs/images/" uml/usecase.pu -svg -charset UTF-8
    - doxygen docs/Doxyfile
    - mv docs/html/ public/
  artifacts:
    paths:
      - public
  only:
    - master
    - docs
